
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; 
  background: #ffffff;
}

.menu_container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 16px;
  border-radius: 16px;
  background:#e6e6fa;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;

  width:750px;
  min-width:600px;
  max-width: 95vw;
}

.menu_button,
.menu_button_active {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background: #d8b4fe;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu_button:hover {
  background:#d8b4fe;
  box-shadow: 0 0 6px #b088f9aa;
}


.menu_button_active {
  background: #c3aed6;
  box-shadow: 0 0 0 2px #4a90e2 inset;
}


.cursor {
  transition: 0.1s;
}


.canvas-container {
  padding-bottom: 80px; 
}

.toolGroup {
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  background: #e6e6fa;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #d6c1f5;
}

.menu_container .tool_group:not(:last-child) {
  margin-right: 10px;
}

.page-container {
  max-width: 480px;
  margin: 60px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.page-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.button-primary {
  padding: 12px 24px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.button-primary:hover {
  background-color: #3579c5;
}

.room-id-banner {
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: #d8b4fe;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  color:#3a3a3a;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.copy-button {
  margin-left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.copy-button:hover {
  color: #8e44ad; /* Hot pink */
}

.copied-text {
  margin-left: 10px;
  font-size: 12px;
  color: #4caf50; /* Green feedback */
  font-weight: 500;
  transition: opacity 0.2s ease;
}

#canvas {
  background-color: #fff5f8 !important;
}
